body {
    background-color: rgb(252, 245, 235);
}


h1 {
    font-size: 3em;
        text-align: center;
}

table {
    margin:0px 200px;
    width: 1500px;
    /* word-break:break-all; */
}

thead th {
    border: solid;
    padding: 1px;
    text-align: center;
    font-size: 20px;
    background-color: white;
    border-width: 1.5px;

}



tbody tr td {
    border: solid;
    padding: 5px 3px;
    text-align: left;
    background-color: white;
    border-width: 1.5px;
    border-style: dotted;
    height: 80px;
    vertical-align: top;
    width: 20px;
    font-size: 3px;
    table-layout: fixed;
    word-break: break-all;
}

tbody tr {
    border: solid;
    background-color: white;
    height: 5px;
    width: 20px;
}

tbody th {
    border: solid;
    padding: 3px;
    text-align: left;
    font-size: 20px;
    background-color: white;
    border-width: 1.5px;
    border-style: dotted;
}



.navi {
    text-align: center;
    background-color: rgb(104, 101, 98);
    padding: 1px 0px;
}

.navi li {
    display: inline-block;
    width: 15%;
    padding: 10px;
    color: white;
    font-weight: 800;
}

footer {
    text-align: center;
}